body {
  background-color: #EDF6E5;
}

hr {
  background-color: #EDF6E5;
  border-style: dotted none none none;
  height: 0px;
  width: 5%;
  border-color: #FFBCBC;
  border-width: 5px;
}

img {
  width: 200px;
  height: 200px;
}

h3 {
  color: #558776;
}
h1 {
  color: #558776;
}
